.app {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: row;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 10px;
  border: none;
  width:70vw;
}

button {
  padding: 10px;
  font-size: 16px;
}

ul {
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #aaa;
  width: 80vw;
}

li span {
  text-align: left;
  padding: 0 10px;
  flex-grow: 1; /* flex 내부에서 차지하는 비율 */
}

li button {
  background: none;
  border: none;
  color: red;
}

li button:hover {
  text-decoration: underline;
  cursor: pointer;
}
